body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-color: #000000;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fafafa;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input, label {
  display:block;
  color: #fafafa;
  margin-bottom: 15px;
  text-align: center;
}

.notas-wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  min-height: 60vh;
}

.notas-wrapper .notas{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  width: 100%;
}

@media(max-width: 768px){
  .notas-wrapper .notas{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 480px){
  .notas-wrapper .notas{
    grid-template-columns: repeat(1, 1fr);
  }
}

.nota-input input[type=number]{
  background-color: transparent;
  border: 2px solid #fafafa;
  border-radius: 1.4em;
  font-family: 'Roboto mono'monospace;
  height: 2em;
  padding: 5px;


  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-notas{
  background-color: #FADA06;
  border-radius: 50px;
  color: #fafafa;
  cursor: pointer;
  font-family: 'Roboto mono'monospace;
  font-weight: 400;
  height: 55px;
  letter-spacing: 1px;
  text-align: center;
  width: 200px;
}

.nota-final{
  color: #FADA06;
  font-size: 20px;
}